
<li>
    {{name}}

    <button class="change-eaten" data-id="{{id}}" data-newEaten="{{sleep}}">
        {{#if eaten}} Time to eat up! {{else}}No thanks. Too full{{/if}}
    </button>

    <button class="delete-burg" data-id="{{this.id}}">Delete</button>
</li>