
<li>
    {{name}}

    <button class="change-eaten" data-id="{{id}}" data-neweat="{{this.eaten}}">
		{{#if this.eaten}}Eat!{{else}}Make a new one!{{/if}}
	</button>

    <button class="delete-burg" data-id="{{this.id}}">Delete</button>
</li>